:root {
  --x-40: rgba(84, 70, 231, 1);
  --x-60: rgba(63, 54, 167, 1);
  --x-80: rgba(24, 17, 102, 1);
  --x-100: rgba(10, 5, 65, 1);
  --10-font-family: "Inter-Regular", Helvetica;
  --10-font-weight: 400;
  --10-font-size: 10px;
  --10-letter-spacing: 0px;
  --10-line-height: normal;
  --10-font-style: normal;
  --12-font-family: "Inter-Regular", Helvetica;
  --12-font-weight: 400;
  --12-font-size: 12px;
  --12-letter-spacing: 0px;
  --12-line-height: normal;
  --12-font-style: normal;
  --14-font-family: "Inter-Regular", Helvetica;
  --14-font-weight: 400;
  --14-font-size: 14px;
  --14-letter-spacing: 0px;
  --14-line-height: normal;
  --14-font-style: normal;
  --16-font-family: "Inter-Regular", Helvetica;
  --16-font-weight: 400;
  --16-font-size: 16px;
  --16-letter-spacing: 0px;
  --16-line-height: normal;
  --16-font-style: normal;
  --18-font-family: "Inter-Regular", Helvetica;
  --18-font-weight: 400;
  --18-font-size: 18px;
  --18-letter-spacing: 0px;
  --18-line-height: normal;
  --18-font-style: normal;
  --22-font-family: "Inter-Regular", Helvetica;
  --22-font-weight: 400;
  --22-font-size: 22px;
  --22-letter-spacing: 0px;
  --22-line-height: normal;
  --22-font-style: normal;
  --headline-34-font-family: "Inter-SemiBold", Helvetica;
  --headline-34-font-weight: 600;
  --headline-34-font-size: 34px;
  --headline-34-letter-spacing: 0px;
  --headline-34-line-height: normal;
  --headline-34-font-style: normal;
  --subhead-26-font-family: "Inter-SemiBold", Helvetica;
  --subhead-26-font-weight: 600;
  --subhead-26-font-size: 26px;
  --subhead-26-letter-spacing: 0px;
  --subhead-26-line-height: normal;
  --subhead-26-font-style: normal;
}
